// app global css in SCSS form
@font-face{
  font-family: 'Nunito';
  src: url(/fonts/Nunito-VariableFont_wght.ttf);
}

* {
  font-family: 'Nunito', sans-serif;
}

.link {
  color: $primary;
  text-decoration: none;
  transition-duration: 0.3s;
  &:hover {
      color: $secondary;
  }
}
